*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header{
    padding: 20px 0 15px;
}
.container{
    max-width: 1110px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.header__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}
.nav__menu{
    display: flex;
    gap: 15px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu__item{
    font-size: 18px;
    font-weight: 700;
}
.menu__item a{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #3A3838;
    transition: 0.3s;
}
.header__nav a:hover{
    color: red;
}
.nav__menu{
    display: flex;
    gap: 15px;
}


.news{
    color: #EBEBEB;
}
.wrap{
    display: flex;
    justify-content: center;
}
.news__block-1{
    background: #B71C1C;
    width: 350px;
}
.news__block-2{
    width: 350px;
    background: #6A1B9A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__block-3{
    width: 350px;
    background: #303F9F;
}
.news__block-4{
    width: 350px;
    background: #00695C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__block-1-desc{
    padding: 8px 15px 15px 15px;
}
.news__block-2-desc{
    padding: 15px 15px 8px 15px;
}
.news__block-h{
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 8px;
}
.news__block-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.main__news-title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    padding: 40px;
}
.main__news{
    background: #EDEDED;
    height: 530px;
}
.main__news__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.news__desc{
    width: 540px;
}
.titleOfNews{
    color: #3A3838;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 30px;
}
.news__p{
    color: #686868;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.footer{
    background: #3A3838;
    margin-top: 50px;
    padding: 30px 0;
}
.footer__title{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__menu__item a{
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}
.footer__nav a {
    color: #fff;
}
.footer__nav a:hover{
    color: #f00;
}